--	Created with ApexSQL Recover 2019.2 ON 15/8/2022 20:24:58
PRINT '***************************************************************************************************'
PRINT 'WARNING: ApexSQL Recover is under evaluation on this server and only every 10th row has been recovered.'
PRINT '***************************************************************************************************'

IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[Ejercicio]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[Ejercicio] already exists.'
ELSE
	CREATE TABLE [dbo].[Ejercicio] /* ID = 23671132 */
	(
		[Id] int NOT NULL,
		[Nombre] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[Descripcion] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[IdTipoEjercicio] int NOT NULL,
		[Imagen] varbinary(max) NULL,
		[IdEntrenamiento] int NULL,
		[CantRepeticiones] int NULL,
		[Series] int NULL,
		[Peso] numeric(18,2) NULL,
		[TiempoRepeDesc] int NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[Entrenamiento]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[Entrenamiento] already exists.'
ELSE
	CREATE TABLE [dbo].[Entrenamiento] /* ID = 190623722 */
	(
		[Id] int NOT NULL,
		[Nombre] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[Descripcion] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[sysdiagrams]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[sysdiagrams] already exists.'
ELSE
	CREATE TABLE [dbo].[sysdiagrams] /* ID = 354100302 */
	(
		[name] sysname COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[principal_id] int NOT NULL,
		[diagram_id] int NOT NULL IDENTITY,
		[version] int NULL,
		[definition] varbinary(max) NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[TipoConcepto]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[TipoConcepto] already exists.'
ELSE
	CREATE TABLE [dbo].[TipoConcepto] /* ID = 635149308 */
	(
		[Id] int NOT NULL,
		[Nombre] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[EncabezadoFactura]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[EncabezadoFactura] already exists.'
ELSE
	CREATE TABLE [dbo].[EncabezadoFactura] /* ID = 1070626857 */
	(
		[IdFactura] int NOT NULL,
		[IdTarjeta] int NULL,
		[IdUsuario] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
		[FechaFacturacion] datetime NULL,
		[NumeroTarjeta] int NULL,
		[Total] money NULL,
		[ProximoPago] datetime NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[HistorialUsuario]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[HistorialUsuario] already exists.'
ELSE
	CREATE TABLE [dbo].[HistorialUsuario] /* ID = 1127675065 */
	(
		[Id] int NOT NULL IDENTITY,
		[FechaIngreso] datetime NULL,
		[FechaEgreso] datetime NULL,
		[IdUsuario] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[Tarjeta]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[Tarjeta] already exists.'
ELSE
	CREATE TABLE [dbo].[Tarjeta] /* ID = 1134627085 */
	(
		[Id] int NOT NULL,
		[Nombre] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[UsuarioxEntrenamiento]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[UsuarioxEntrenamiento] already exists.'
ELSE
	CREATE TABLE [dbo].[UsuarioxEntrenamiento] /* ID = 1227151417 */
	(
		[IdUsuario] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[IdEntrenamiento] int NOT NULL,
		[Id] int NOT NULL IDENTITY,
		[Dia] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[TipoUsuario]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[TipoUsuario] already exists.'
ELSE
	CREATE TABLE [dbo].[TipoUsuario] /* ID = 1330103779 */
	(
		[Id] int NOT NULL,
		[Descripcion] nchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[Concepto]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[Concepto] already exists.'
ELSE
	CREATE TABLE [dbo].[Concepto] /* ID = 1351675863 */
	(
		[Id] int NOT NULL IDENTITY,
		[Descripcion] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
		[Precio] numeric(18,2) NULL,
		[IdTipo] int NULL,
		[Nombre] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[Genero]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[Genero] already exists.'
ELSE
	CREATE TABLE [dbo].[Genero] /* ID = 1362103893 */
	(
		[Id] int NOT NULL,
		[Descripcion] nchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[TipoEjercicio]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[TipoEjercicio] already exists.'
ELSE
	CREATE TABLE [dbo].[TipoEjercicio] /* ID = 1477580302 */
	(
		[Id] int NOT NULL IDENTITY,
		[Nombre] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[Descripcion] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[Usuario]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[Usuario] already exists.'
ELSE
	CREATE TABLE [dbo].[Usuario] /* ID = 1819153526 */
	(
		[Id] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[Nombre] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[Apellidos] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[Correo] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[Password] nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[Foto] varbinary(max) NULL,
		[IdGenero] int NULL,
		[FechaNacimiento] datetime NULL,
		[Telefono] int NULL,
		[Peso] float NULL,
		[Altura] numeric(18,2) NULL,
		[IMC] float NULL,
		[MetabolismoBasal] float NULL,
		[IdTipo] int NOT NULL
	)
IF EXISTS(SELECT * FROM sysobjects WHERE id = OBJECT_ID(N'[dbo].[DetalleFactura]') AND OBJECTPROPERTY(id, N'IsTable') = 1)
	PRINT 'Table [dbo].[DetalleFactura] already exists.'
ELSE
	CREATE TABLE [dbo].[DetalleFactura] /* ID = 2078630448 */
	(
		[IdFactura] int NOT NULL,
		[Secuencia] nchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
		[IdConcepto] int NULL
	)
--	RECOVERED ROWS FROM [dbo].[Ejercicio], ID = 23671132
--	RECOVERED 1 ROW.
--	END OF RECOVERED ROWS FROM [dbo].[Ejercicio], ID = 23671132

--	RECOVERED ROWS FROM [dbo].[Entrenamiento], ID = 190623722
INSERT INTO [dbo].[Entrenamiento] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Pecho' COLLATE SQL_Latin1_General_CP1_CI_AS, N'Ejercicios para pecho' COLLATE SQL_Latin1_General_CP1_CI_AS)
--	RECOVERED 1 ROW.
--	END OF RECOVERED ROWS FROM [dbo].[Entrenamiento], ID = 190623722

--	RECOVERED ROWS FROM [dbo].[EncabezadoFactura], ID = 1070626857
INSERT INTO [dbo].[EncabezadoFactura] ([IdFactura], [IdTarjeta], [IdUsuario], [FechaFacturacion], [NumeroTarjeta], [Total], [ProximoPago]) VALUES (38, 1, N'842342343' COLLATE SQL_Latin1_General_CP1_CI_AS, '20220813 23:18:52.010', 246255, 10170.0000, '20220913 23:18:52.010')
--	RECOVERED 1 ROW.
--	END OF RECOVERED ROWS FROM [dbo].[EncabezadoFactura], ID = 1070626857

--	RECOVERED ROWS FROM [dbo].[HistorialUsuario], ID = 1127675065
SET IDENTITY_INSERT [dbo].[HistorialUsuario] ON
INSERT INTO [dbo].[HistorialUsuario] ([Id], [FechaIngreso], [FechaEgreso], [IdUsuario]) VALUES (16, '20220813 19:29:33.830', '20220813 19:29:38.783', N'444444444' COLLATE SQL_Latin1_General_CP1_CI_AS)
--	RECOVERED 1 ROW.
--	END OF RECOVERED ROWS FROM [dbo].[HistorialUsuario], ID = 1127675065

--	RECOVERED ROWS FROM [dbo].[UsuarioxEntrenamiento], ID = 1227151417
SET IDENTITY_INSERT [dbo].[HistorialUsuario] OFF
SET IDENTITY_INSERT [dbo].[UsuarioxEntrenamiento] ON
INSERT INTO [dbo].[UsuarioxEntrenamiento] ([IdUsuario], [IdEntrenamiento], [Id], [Dia]) VALUES (N'444444444' COLLATE SQL_Latin1_General_CP1_CI_AS, 4, 22, N'jueves' COLLATE SQL_Latin1_General_CP1_CI_AS)
--	RECOVERED 1 ROW.
--	END OF RECOVERED ROWS FROM [dbo].[UsuarioxEntrenamiento], ID = 1227151417

--	RECOVERED ROWS FROM [dbo].[Genero], ID = 1362103893
SET IDENTITY_INSERT [dbo].[UsuarioxEntrenamiento] OFF
INSERT INTO [dbo].[Genero] ([Id], [Descripcion]) VALUES (1, N'Masculino ' COLLATE SQL_Latin1_General_CP1_CI_AS)
--	RECOVERED 1 ROW.
--	END OF RECOVERED ROWS FROM [dbo].[Genero], ID = 1362103893

--	RECOVERED ROWS FROM [dbo].[Usuario], ID = 1819153526
--	RECOVERED 1 ROW.
--	END OF RECOVERED ROWS FROM [dbo].[Usuario], ID = 1819153526

--	RECOVERED ROWS FROM [dbo].[DetalleFactura], ID = 2078630448
INSERT INTO [dbo].[DetalleFactura] ([IdFactura], [Secuencia], [IdConcepto]) VALUES (42, N'1         ' COLLATE SQL_Latin1_General_CP1_CI_AS, 1)
--	RECOVERED 1 ROW.
--	END OF RECOVERED ROWS FROM [dbo].[DetalleFactura], ID = 2078630448

PRINT 'FINISHED RUNNING RECOVERY SCRIPT'
--	FINISHED ON 15/8/2022 20:24:58
--	END OF FILE
